header nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 70px;
    background-color: cornflowerblue; 
    padding: 0px 50px;
}
header nav ul{
    display: flex;
    gap: 30px;
   

}
header nav ul li a{
    color: whitesmoke;
    font-size: 1.2em;
}
header nav ul li:hover{
    box-shadow: 0px 0px 20px rgb(7, 7, 226,0.6);
}
header nav h1{
    font-size: 2em;
}